
header {
    margin: auto;
    background-color: rgb(241, 232, 232);
    text-align: center;
}
.background {
    opacity: 0.5;
    background-attachment: fixed;
}
body {
    margin: auto;
    background-image: url(https://i.pinimg.com/474x/5f/da/28/5fda28c57fb9bb28499e7c7f72ac8e2f--barbershop-ideas-barbershop-design-vintage.jpg);
    background-position: center center;
    background-attachment: fixed;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}
table {
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 19px;
    text-transform:lowercase;
}
table, th, td {
    border: 1px solid black;
    padding: 15px;
}
th {
    text-align: center;
    font-weight: 900;
}
.th {
    visibility: hidden;
}
.rotate-text-90 {
    transform: rotate(-90deg);
    font-weight: 900;
}
tr:nth-child(5n) {
    background-color : rgb(241, 232, 232);
}
tr:nth-child(5n+1) {
    background-color : rgba(238, 237, 237, 0.966);
}
tr:nth-child(5n+2) {
    background-color : rgb(248, 226, 241);
}
tr:nth-child(5n+3) {
    background-color : rgb(247, 235, 231);
}
tr:nth-child(5n+4) {
    background-color : lightgray;
}
td:last-child {
    font-weight: 700;
}
footer {
    margin: auto;
    background-color: rgb(241, 232, 232);
    text-align: center;    
}
.fen {
width: 140px;
height: 100px; 
opacity: 0.5;
}
